@mixin default-anchor{
    text-decoration: none;
    color: $text-color;
    border-radius: 2px;
    &:focus{
    border: 1px solid $second-color;
    }
    &:hover{
        border: 1px solid $second-color;
        }
}