@mixin default-button {
    margin: 1rem;
    color: $text-color;
    border: none;
    padding: 1rem;
    text-align: center;
    background-color: transparent;
    font-size: small;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2rem;
    
    &:hover {
        border: 1px solid $color-white;
        background-color: $second-color;
        color: $main-color;
    }

    &:active {
        background-color: $border-color;
        color: $text-color;
        
    }
}