@mixin default-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border: 1rem solid $color-white;
    border-radius: 2rem;
    min-width: $minw;
    width: calc(100% - 2px - 2rem);
    overflow: hidden;
}